/* all title */
body, html {width:auto; height:100%; overflow-x:auto !important; font-family: 'Noto Sans KR', sans-serif;}
/* title1 */
.title1 {
    width:100%; height:2700px;
    background:url(../images/bg1.jpg);
    background-size:cover;
    position:relative;
}
.title1 > img:first-child {
    position:absolute; right:0; top:259px;
}
.title1 img:nth-child(2) {
    transform:translateY(429px);
}
.title1 img:nth-child(3) {
    position:absolute; right:0; top:800px;
}
.title1 .title {text-align: center; color:#fff;}
.title1 .title h1 {
    font-family: 'Mrs Sheppards', cursive;
    font-size:12.5rem;  transform:translateY(-150px);
}
.title1 .title .subhead {
    font-family: 'MBC1961GulimM'; margin-bottom:134px;
    font-size: 1.6875rem;
}
.title1 .title img {transform:translate(250px, -310px);}
.title1 .title p:last-child {
    width:480px; margin:0 auto;
    font-family: 'MBC1961GulimM';
    font-size: 1.875rem; margin-bottom:385px;
    border-bottom:1px solid #fff;
}
.title1 .contents {height:50%;}
.title1 .contents > p:nth-child(1) {
    width:650px; margin:0 auto;
    font-size: 2.0625rem; color:#054857;
    font-family: 'MBC1961GulimM';
    border-top:1px solid #054857;
    border-bottom:1px solid #054857;
    padding:15px 0 10px 0; margin-bottom:124px;
}
.title1 .contents .content {
    height:100%;
    display:flex; flex-flow:column nowrap; justify-content:space-evenly;
}
.title1 .contents .content li {}
.title1 .contents .content li .content1 {
    height:320px;
    background:rgba(255,255,255,0.5);
    display:flex; align-items: center;
}
.title1 .contents .content li .content1 .one {
    width:400px;
    height:100%;
    display:flex; flex-flow:column nowrap; 
    justify-content:space-evenly;
    margin-left:50px;
}
.title1 .contents .content li div img {}
.title1 .contents .content li .content1 img {}
.title1 .contents .content li .content1 > .one > .point {
    display:inline-block; width:80px; text-align:center;
    border:none; background:#fff;
    font-family: 'MBC1961GulimM'; color: #054857;
    font-size: 1.5rem;
    border-radius:50px;
    padding:5px 0;
}
.title1 .contents .content li .content1 .one .island {
    font-size: 1.6875rem; font-weight:500;
    font-family: 'Noto Sans KR', sans-serif;
}
.title1 .contents .content li .content1 .one .subtitle {
    font-size:1.5rem;
}
.title1 .contents > .content > li:nth-child(1) > .content1 > .one > p:last-child {
    font-size:1rem; line-height:1.8em;
}
/* title2 */
.title1 .contents .content li .content2 {
    height:320px;
    background:rgba(255,255,255,0.5);
    display:flex; flex-flow:row-reverse; align-items: center;
}
.title1 .contents .content li .content2 img {}
.title1 .contents .content li .content2 .two {
    width:400px;
    height:100%;
    display:flex; flex-flow:column nowrap; 
    justify-content:space-evenly;
    margin-left:50px;
}
.title1 .contents .content li .content2 .two > .point {
    display:inline-block; width:80px; text-align:center;
    border:none; background:#fff;
    font-family: 'MBC1961GulimM'; color: #054857;
    font-size: 1.5rem;
    border-radius:50px;
    padding:5px 0;
}
.title1 .contents .content li .content2 .two > .island {
    font-size: 1.6875rem; font-weight:500;
    font-family: 'Noto Sans KR', sans-serif;
}
.title1 .contents .content li .content2 .two > .subtitle {
    font-size:1.5rem;
}
.title1 .contents .content li:nth-child(2) .content2 .two > p:last-child {
    font-size:1rem; line-height:1.8em;
}
/* title3 */
.title1 .contents .content li .content3 {
    height:320px;
    background:rgba(255,255,255,0.5);
    display:flex; align-items: center;
}
.title1 .contents .content li .content3 img {}
.title1 .contents .content li .content3 .three {
    width:400px;
    height:100%;
    display:flex; flex-flow:column nowrap; 
    justify-content:space-evenly;
    margin-left:50px;
}
.title1 .contents .content li .content3 .three > .point {
    display:inline-block; width:80px; text-align:center;
    border:none; background:#fff;
    font-family: 'MBC1961GulimM'; color: #054857;
    font-size: 1.5rem;
    border-radius:50px;
    padding:5px 0;
}
.title1 .contents .content li .content3 .three > .point em {}
.title1 .contents .content li .content3 .three > .island {
    font-size: 1.6875rem; font-weight:500;
    font-family: 'Noto Sans KR', sans-serif;
}
.title1 .contents .content li .content3 .three > .subtitle {
    font-size:1.5rem;
}
.title1 .contents .content li:nth-child(3) .content3 .three > p:last-child {
    font-size:1rem; line-height:1.8em;
}
/* title 2 */
.title2 {
    width: 100%; height:1600px;
    background: linear-gradient(rgba(0, 19, 117, 0.8), rgba(0, 19, 117, 0.8)), url(../images/bg2.jpg);
    background-size: cover;
    display:flex; flex-flow:column nowrap; align-items: center;
    justify-content:space-around;
}
.title2 h2 {
    width:500px; border-radius:50px;
    padding:25px 50px;
    font-family: 'MBC1961GulimM';
    font-size: 1.7rem; color:#054857;
    background:#fff;
}
.title2 h2 em {color:#27B0B9; font-size:1.7rem;}
.title2 .food {
    width:1500px;
    display:flex; flex-wrap:wrap; 
    justify-content:space-evenly;
    align-items: center;
}
.title2 .food li {margin-left:45px; margin-bottom:80px; text-align:center;}
.title2 .food li a {}
.title2 .food li a img {
    width:300px;
    border-radius:50%;
}
.title2 .food li > p {color:#fff;}
.title2 .food li p:nth-child(2) {font-size: 1.2rem;}
.title2 .food li p:last-child {line-height:1.5em; letter-spacing:-0.04em;}
.title2 .food li .angle {margin:32px 0;}
.title2 .food li .chamorro {margin:32px 0;}
.title2 .food li .banana {margin:32px 0;}
.title2 .food li .melon {margin:32px 0;}
.title2 .food li .coconut {margin:32px 0;}
.title2 .food li p {}
/* title3 */
.title3 {
    display:flex; flex-flow:column nowrap;
    align-items: center; justify-content: center;
    background:#0264C7; color:#fff; 
    text-align: center; 
    height:450px; 
}
.title3 p {line-height:1.5em; font-size: 1.35rem;}
.title3 p:first-child {margin-bottom:43px;}
/* title 4 */
.title4 {
    background:#6A84E0;
}
.title4 .package {
    width:100%; height:2100px;
    display:flex; flex-flow:column nowrap;
    justify-content:space-evenly;
}
.title4 .package h2 {
    width:450px;
    padding:20px 50px; border-radius:50px;
    margin:0 auto; font-family: 'MBC1961GulimM'; text-align: center;
    font-size: 1.7rem; color:#054857; background:#fff;
}
.title4 .package ul {
    width:90%; transform:translateX(120px);
    display:flex; flex-wrap:wrap;
    justify-content: center;
    
}
.title4 .package ul li {margin-right:50px; margin-bottom:72px;}
.title4 .package ul li .tour {}
/* top */
.title4 .package ul li .tour .top {position: relative;}
.title4 .package ul li .tour .top p {
    z-index:99; position: relative;
    width:80px; transform:translate(35px, 76px);
    background: #0264C7; color: #fff;
    padding:30px 0; text-align: center;
}
.title4 .package ul li .tour .top img {
    width:387px; height:460px; position: relative;
}
.title4 .package ul li .tour .top #like {display:none;}
.title4 .package ul li .tour .top label {
}
.title4 .package ul li .tour .top label img {
    position:absolute; bottom:20px; right:20px;
    width:30px; height:30px;
}
.title4 .package ul li .tour .top label img:hover {
    background:url(../images/component/like2.png) no-repeat;
    background-size:cover;
}
/* btm */
.title4 .package ul li .tour .btm {
    width:387px; height:250px;
    display:flex; flex-flow:column nowrap;
    justify-content:space-around;
    background:#fff;
}
.title4 .package ul li .tour .btm h3 {
    margin-left:25px;
}
.title4 .package ul li .tour .btm h3 a {
    font-size:1.35rem; color:#0264C7; font-weight:700; 
}
.title4 .package ul li .tour .btm p {margin-left:25px; display:flex; align-items: center;}
.title4 .package ul li .tour .btm p span {
    display:inline-block; width:8px; height:8px;
    border-radius:50px; margin-right:12px;
    background:#000;
}
.title4 .package ul li .tour .btm .detail {
    width:280px; height:45px;
    display:flex; align-items: center;
    justify-content: center;
    background:#0264C7; color:#fff;
    border-radius:50px;
    text-align: center;
    font-size: 1.35rem;
    margin:0 auto;
}
.title4 .package ul li .tour .btm .detail img {width:20px; margin-left:6px; transition:all 0.3s;}
.title4 .package ul li .tour .btm .detail:hover img {transform:translateX(10px);}
.title5 {
    height:1600px;
    background:#64A8B8;
}
.title5 .review {
    height:100%;
    display:flex; flex-flow:column nowrap;
    justify-content:space-around;
    align-items: center;
}
.title5 .review h4 {
    margin-top:90px;
    padding:15px 56px;
    text-align: center;
    font-family: 'MBC1961GulimM';
    font-size:1.7rem;
    color: #054857; background:#fff;
    border-radius:50px;
}
.title5 .review .gap {width:100%;}
.title5 .review .gap li {}
.title5 .review .gap li .client1 {
    background:#fff;
    width:100%; margin-bottom:64px;
}
.title5 .review .gap li .client1 .wrap {
    display:flex; align-items: center; justify-content:space-between;
    margin:0 260px; padding:30px 0 10px 0;
    border-bottom:1px solid #595959;
}
.title5 .review .gap li .client1 .wrap .left {
    display:flex; align-items:flex-end;
}
.title5 .review .gap li .client1 .wrap .left img {
    width:25px; margin-right:3px;
}
.title5 .review .gap li .client1 .wrap .left p {margin-left:10px; color:#595959; font-size:0.8rem;}
.title5 .review .gap li .client1 .wrap .right {
    display:flex;
}
.title5 .review .gap li .client1 .wrap .right p {color:#595959;}
.title5 .review .gap li .client1 .wrap .right p:first-child {margin-right:8px;}
.title5 .review .gap li .client1 .rv_content {
    padding:15px 0 19px 0; margin:0 90px;
    display:flex; align-items: center;
    justify-content:space-around;
}
.title5 .review .gap li .client1 .rv_content img {
    width:387px;
}
.title5 .review .gap li .client1 .rv_content p {
    font-size: 1.4rem; line-height:2.8em;
}
.title5 .review .gap li .client1 .rv_content p span:nth-child(2) {
    background:#A5A5A5;
}
.title5 .review .gap li .client1 .rv_content p span:nth-child(1) {
    background:#A5A5A5;
}
.title5 .review .gap li .client1 .rv_content p span {
    font-size: 1.4rem; background:#2084AE; color:#fff;
}
.title5 .review .gap li .client1 .wrap .left2 {display:flex;}
.title5 .review .gap li .client1 .wrap .left2 p {margin-right:8px; color:#595959;}
.title5 .review .gap li .client1 .wrap .right2 {display:flex; align-items:flex-end;}
.title5 .review .gap li .client1 .wrap .right2 p {margin-right:10px; color:#595959; font-size:0.8rem;}
.title5 .review .gap li .client1 .wrap .right2 img {width:25px; margin-left:3px;}